# Performance test results

Brief description of the used server (choose one): HTTP/1.1 / HTTP/2

Brief description of your computer: TODO

## No Redis Cache

### Retrieving todos

http_reqs: TODO
http_req_duration - median: TODO
http_req_duration - 99th percentile: TODO

## Redis Cache

### Retrieving todos

http_reqs: TODO
http_req_duration - median: TODO
http_req_duration - 99th percentile: TODO

## Reflection

Brief reflection on the results of the tests -- why do you think you saw the results you saw: TODO