# Performance test results

Brief description of the used server (choose one): HTTP/1.1 / HTTP/2

Brief description of your computer: TODO

## No database

### Retrieving todos

http_reqs: TODO
http_req_duration - median: TODO
http_req_duration - 99th percentile: TODO


### Posting todos

http_reqs: TODO
http_req_duration - median: TODO
http_req_duration - 99th percentile: TODO


## With database

### Retrieving todos

http_reqs: 174985
http_req_duration - median: avg=549.55µs
http_req_duration - 99th percentile: 926µs 


### Posting todos

http_reqs: 70694  7068.674754/s
http_req_duration - median: avg=1.39ms
http_req_duration - 99th percentile: 3.03ms


## Reflection

Brief reflection on the results of the tests -- why do you think you saw the results you saw: TODO
